body{
    display:grid;
    place-content: center;
    background-color: rgba(1, 1, 19, 0.459);
    font-family: 'Times New Roman';
    color: rgb(207, 194, 194);
    
}
div{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    height: 50px
    
}

input{
    background-color:rgba(245, 245, 245, 0.863);
    box-shadow: 0 0 6px 1px #ddddd9, 0 0 0px #ddddd9, 0 0 4px #ddddd9, 0 0 3px 3px #ddddd9;

}

button{
    background-color: rgb(129, 122, 122);
} 